.header {
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 934px) {
  .header {
    max-width: 581px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 28px 0 0 27px;
    min-height: 56px;
  }
}
